<head>
	<style type="text/css"

#top {
	
	background-color: #ccc;
	padding: 20px
}

.intro {
	
	color: red;
	font-weight: bold;
}

</style>
</head>

<div id="top">
<h1>Blah Blah Blag</h1>
<p class="intro"This is..</p>
<p class="intro"Mmm mm mmm </p>
</div>

